<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=107.172.80.170;Initial Catalog=Agenda;User ID=agenda;Password=@123456789@;Persist Security Info=False;Connect Timeout=200000" />
  </connectionStrings>
</configuration>